body {
    overflow: hidden;
    height: fit-content;
}

ul {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    list-style-type: none;
    gap: 20px;
    width: 100%;
}
